<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.net.cronet.testing.testapp">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />

  <application
      android:label="CronetInstrumentationTestApp"
      android:supportsRtl="true"
      android:largeHeap="true"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:taskAffinity="">
    <activity android:name=".MainActivity"
        android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>